<br><br><br><div class="panel small-6 small-centered columns">
  <h1>Update you information</h1>

  <%= render 'form' %>

  <br><p>
    <%= link_to "Change Password", change_password_path(@user),
        class: ["button", "radius", "round", "tiny"] %>
  </p>
</div>
