<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %>, you (hopefully) requested to reset your password.</h1>
      <p>
      To reset your Chart Local password, follow this link <%= link_to @url, @url %>.
      </p>
  </body>
</html>
